@use "typography" as *;
@use "mixins" as *;
@use "variables" as *;

* {
    font-family: "Avenir Next";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: $color-black;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        padding-bottom: .8125rem;
        padding-top: 1rem;
    }

    &-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;

        &__item {
            text-align: center;
            text-decoration: none;
            color: $color-silver;
            width: 50%;
            padding-bottom: 0.5rem;

            &--active {
                color: $color-white;
                border-bottom: solid $color-white 3px;
            }
        }
    }
}

.footer {
    background-color: $color-black;
    padding: 1rem;
    padding-top: 1.5rem;

    &__heading {
        padding-bottom: 1rem;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        width: 43%;
    }

    &__logo {
        padding-top: 3rem;
    }

    &__copyright {
        padding-top: .75rem;
        font-size: .6875rem;
    }
}

.info {
    
    &__box {
        padding-top: 1rem;
    }

    &__box-content {
        padding-top: 1rem;
    }
}