@use "variables" as *;

@font-face {
    font-family: "Avenir Next";
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir Next";
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format("otf");
    font-weight: 600;
}

@font-face {
    font-family: "Avenir Next";
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
    font-weight: 700;
}

.about {
   color: $color-black;

   &__heading {
        font-weight: 600;
   }

   &__quote {
        line-height: 2;
   }
}
