@use "variables" as *;
@use "mixins" as *;

@font-face {
    font-family: "Avenir Next";
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir Next";
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format("otf");
    font-weight: 600;
}

@font-face {
    font-family: "Avenir Next";
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
    font-weight: 700;
}

.navbar {
    
    &-list__item {
        font-size: .8125rem;

        @include tablet {
            font-size: .875rem;
        }

        &--active {
            font-weight: 500;
        }
    }
}

.hero {
    &__text {
        font-weight: 600;

        &-small {
            color: $color-white;
            font-size: .875rem;

            @include tablet {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        @include tablet {
            font-size: 3.75rem;
        }
    }
}

.about {
   color: $color-black;

   &__heading {
        font-weight: 600;

        @include tablet {
            @include td_sec_header
        }
   }

   &__bandname {
        font-size: 0.875rem;
        font-weight: 500;

        @include tablet {
            font-size: 1.5rem;
            font-weight: 700;
        }
   }
}

.quote-section {
    
    &__quote {
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.375rem;      
        
        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__credit { 
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.375rem; 

        @include tablet {
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

.bio {

   &__desc {
        font-size: 13px;
        padding-bottom: 1rem;
        line-height: 1.125rem;
        font-weight: 400;

        @include tablet {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.375rem;
        }
   }
}

.gallery {

    &__heading {
        color: $color-black;
        font-size: 1.5rem;
        line-height: 32px;
        font-weight: 600;

        @include tablet {
            @include td_sec_header;
        }
    }
}

.footer {
    color: $color-alabaster;

    &__heading {
        font-size: 1.5rem;
        font-weight: 600;

        @include tablet {
            @include td_sec_header;
        }
    }

    &__copyright {
        font-size: .8125rem;
    }
}

.info {

    &__box-company {
        font-size: .8125rem;
        font-weight: 550;
    }

    &__box-content {
        text-decoration: none;
        color: $color-white;
        font-style: normal;
        font-size: .8125rem;
    }
}

.comment-input {

    &__heading{
        @include mob_sec_header
    }
}

.input-wrapper {
    
    &__label {
        color: $color-silver;
        font-size: .6875rem;
        font-weight: 550;
    }

    &__name {
        color: $color-black;
    }

    ::placeholder {
        color: $color-dark-black;
    }

    &__submit {
        color: $color-alabaster;
        font-size: .875rem;
        font-weight: 600;
    }
}

.comment-card {

    &__info {

        &-name {
            color: $color-black;
            font-size: .75rem;
            font-weight: 600;
        }

        &-date {
            color: $color-silver;
            font-size: .75rem;
        }

        &-text {
            font-size: .75rem;
            font-weight: 400;
        }
    }
}

.shows {
    

    &-heading {
        font-weight: 600;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    &-container {

        &__section-item {
            color: $color-silver;
            font-size: .875rem;
            font-weight: 600;
        }

        &__card {
            border-bottom: solid .125rem $color-silver;
            
            &-section {
                font-size: .6875rem;
                font-weight: 525;
                color: $color-silver;
            }

            &-date {
                font-size: .875rem;
                font-weight: 600;
            }

            &-text {
                font-size: .875rem;
            }

            &-button {
                color: $color-white;
                font-size: 1rem;
                font-weight: 550;
            }
        }
    }
}


