@font-face {
  font-family: "Avenir Next";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
}
.navbar-list__item {
  font-size: 0.8125rem;
}
@media (min-width: 48rem) {
  .navbar-list__item {
    font-size: 0.875rem;
  }
}
.navbar-list__item--active {
  font-weight: 500;
}

.hero__text {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .hero__text {
    font-size: 3.75rem;
  }
}

.about {
  color: #323232;
}
.about__heading {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.about__bandname {
  font-size: 0.875rem;
  font-weight: 500;
}
@media (min-width: 48rem) {
  .about__bandname {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.quote-section__quote {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .quote-section__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.quote-section__credit {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .quote-section__credit {
    font-size: 1rem;
    font-weight: 700;
  }
}

.bio__desc {
  font-size: 13px;
  padding-bottom: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .bio__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.375rem;
  }
}

.gallery__heading {
  color: #323232;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.footer {
  color: #FAFAFA;
}
.footer__heading {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
}

.info__box-company {
  font-size: 0.8125rem;
  font-weight: 550;
}
.info__box-content {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-size: 0.8125rem;
}

* {
  font-family: "Avenir Next";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #323232;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .navbar {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.navbar__logo {
  padding-bottom: 0.8125rem;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .navbar__logo {
    padding: 0 2rem 0 2rem;
  }
}
@media (min-width: 80rem) {
  .navbar__logo {
    padding: 0 2rem 0 8rem;
  }
}
.navbar-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 48rem) {
  .navbar-list {
    width: 30%;
  }
}
@media (min-width: 80rem) {
  .navbar-list {
    width: 15%;
  }
}
.navbar-list__item {
  text-align: center;
  text-decoration: none;
  color: #AFAFAF;
  width: 50%;
  padding-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .navbar-list__item {
    width: 30%;
    padding: 1.5rem 0;
  }
}
.navbar-list__item--active {
  color: white;
  border-bottom: solid white 2px;
}

.footer {
  background-color: #323232;
  padding: 1rem;
  padding-top: 1.5rem;
}
@media (min-width: 48rem) {
  .footer {
    padding: 2rem;
  }
}
@media (min-width: 80rem) {
  .footer {
    padding: 2rem 8rem 2rem 8rem;
  }
}
@media (min-width: 48rem) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__wrapper-left {
    display: flex;
    width: 85%;
    align-items: center;
  }
}
.footer__heading {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .footer__heading {
    padding: 0 2.3rem 0 0;
  }
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 43%;
}
@media (min-width: 48rem) {
  .footer__socials {
    width: 20%;
    padding-top: 0.6rem;
  }
}
@media (min-width: 80rem) {
  .footer__socials {
    width: 16%;
    padding-top: 0.6rem;
  }
}
.footer__logo {
  padding-top: 3rem;
}
.footer__logo-top {
  display: none;
}
@media (min-width: 48rem) {
  .footer__logo-top {
    display: inline;
    padding-top: 0.5rem;
  }
}
@media (min-width: 48rem) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  padding-top: 0.75rem;
  font-size: 0.6875rem;
}
@media (min-width: 48rem) {
  .footer__copyright {
    padding-top: 3rem;
  }
}

@media (min-width: 48rem) {
  .info {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 80rem) {
  .info {
    justify-content: flex-start;
  }
}
.info__box {
  padding-top: 1rem;
}
@media (min-width: 80rem) {
  .info__box {
    padding-right: 4rem;
  }
}
.info__box-content {
  padding-top: 1rem;
}

.hero {
  background-image: url(/assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: 0%;
  height: 60vw;
  width: 100%;
}
@media (min-width: 80rem) {
  .hero {
    height: 55vw;
  }
}
.hero__background {
  background-color: #323232;
  position: absolute;
  height: 60vw;
  width: 100%;
  opacity: 0.5;
}
@media (min-width: 80rem) {
  .hero__background {
    height: 55vw;
  }
}
.hero__text {
  height: 60vw;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 48rem) {
  .hero__text {
    padding-left: 2rem;
  }
}
@media (min-width: 80rem) {
  .hero__text {
    padding-left: 8rem;
    height: 55vw;
  }
}

.about {
  padding: 0 1rem;
}
@media (min-width: 48rem) {
  .about {
    padding: 2rem;
  }
}
@media (min-width: 80rem) {
  .about {
    padding: 0 8rem 0 8rem;
  }
}
.about__heading {
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 80rem) {
  .about__heading {
    padding: 2rem 0 2rem 0;
  }
}
.about__bandname {
  padding: 1.5rem 0 1rem 0;
}
@media (min-width: 48rem) {
  .about__bandname {
    padding: 2rem 0 1rem 4rem;
  }
}

.quote-section {
  width: 100%;
}
@media (min-width: 48rem) {
  .quote-section {
    padding: 0 4rem;
  }
}
.quote-section__quote {
  padding-bottom: 0.4rem;
}
@media (min-width: 80rem) {
  .quote-section__quote {
    padding-right: 11rem;
    padding-bottom: 1rem;
  }
}
.quote-section__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.quote-section__image {
  width: 100%;
  padding-bottom: 1rem;
}

@media (min-width: 48rem) {
  .bio {
    padding: 0 4rem;
    display: flex;
  }
}
@media (min-width: 80rem) {
  .bio {
    padding-bottom: 2rem;
  }
}
@media (min-width: 48rem) {
  .bio__desc {
    padding-right: 1.5rem;
  }
}

.gallery {
  width: 100%;
  padding: 16px;
  background-color: #FAFAFA;
}
@media (min-width: 48rem) {
  .gallery {
    padding: 2rem;
  }
}
@media (min-width: 80rem) {
  .gallery {
    padding: 0 8rem 2rem 8rem;
  }
}
.gallery__heading {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
@media (min-width: 48rem) {
  .gallery__heading {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .gallery__heading {
    padding-top: 2rem;
  }
}
.gallery__photos {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .gallery__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: space-between;
  }
}
.gallery__photos-img {
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  .gallery__photos-img {
    width: 31%;
    padding: 0;
  }
}
@media (min-width: 80rem) {
  .gallery__photos-img {
    width: 31.8%;
  }
}
.gallery__photos-img--last {
  padding: 0;
}/*# sourceMappingURL=bio.css.map */