@use "./partials/globals" as *;


.hero {
    background-image: url(/assets/images/hero-bio.jpg);
    background-size: cover;
    height: 25vh;
    padding-left: 1rem;
    width: 100%;

    &__text {
        height: 25vh;
        color: white;
        display: flex;
        align-items: center;
    }
}

.about {
    padding: 0 1rem;

    &__heading {
        padding: 1.5rem 0 1rem 0;  
    }
    
    &__image-container {
       width: 100%;
       display: flex;
       justify-content: center;
    }

    &__image {
        width: 100%;

    }
}

.gallery {
    width: 100%;

    &__photos {
        display: flex;
        flex-direction: column;
    }
}

