@use "./partials/globals" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use './partials/mixins' as *;


.hero {
    background-image: url(/assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: 0%;
    height: 60vw;
    width: 100%;

    @include desktop {
        height: 55vw;
    }

    &__background {
        background-color: $color-black;
        position: absolute;
        height: 60vw;
        width: 100%;
        opacity: 0.5;

        @include desktop {
            height: 55vw;
        }
    }

    &__text {
        height: 60vw;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        position: relative;
        z-index: 1;

        @include tablet {
            padding-left: 2rem;
        }

        @include desktop {
            padding-left: 8rem;
            height: 55vw;
        }
    }
}

.about {
    padding: 0 1rem;

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        padding: 0 8rem 0 8rem;
    }

    &__heading {
        padding: 1.5rem 0 1rem 0;

        @include desktop {
            padding: 2rem 0 2rem 0;
        }
    }

    &__bandname {
        padding: 1.5rem 0 1rem 0;

        @include tablet {
            padding: 2rem 0 1rem 4rem;
        }
    }
}

.quote-section {
    width: 100%;

    @include tablet {
        padding: 0 4rem;
    }

    &__quote{
        padding-bottom: 0.4rem;

        @include desktop {
            padding-right: 11rem;
            padding-bottom: 1rem;
        }
    }

    &__image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    } 
    
    &__image {
        width: 100%;
        padding-bottom: 1rem;
    }
}

.bio {

    @include tablet {
        padding: 0 4rem;
        display: flex;
    }
    @include desktop {
        padding-bottom: 2rem;
    }

    &__desc {

        @include tablet {
            padding-right: 1.5rem;
        }
    }
}


.gallery {
    width: 100%;
    padding: 16px;
    background-color: $color-alabaster;

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        padding: 0 8rem 2rem 8rem;
    }

    &__heading {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        @include tablet {
            padding-bottom: 1.5rem;
        }

        @include desktop {
            padding-top: 2rem;
        }
    }

    &__photos {
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.3rem;
            justify-content: space-between;
        }
    }
    
    &__photos-img {
        padding-bottom: 1rem;

        @include tablet {
            width: 31%;
            padding: 0;
        }

        @include desktop {
            width: 31.8%;
        }

        &--last {
            padding: 0;
        }
    }
}

.comment-input {
    padding: 1rem;

    &__heading {
        padding-bottom: 1rem;
    }
}

.input-wrapper {
    display: flex;

    &__image {
        object-fit: cover;
        width: 2.25rem;
        border-radius: 50%;
        height: 2.25rem;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }

    &__name {
        width: 70vw;
        height: 10vw;
        padding-left: 0.5rem;
    }

    &__text {
        height: 30vw;
        text-align: left;
        padding-bottom: 4rem;
        padding-left: 0.5rem;
        overflow-wrap: break-word;
    }
}

.comment-container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.comment-card {
    display: flex;
    justify-content: space-around;

    &__img {
        background-color: grey;
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-top {
            display: flex;
            justify-content: space-between;
        }
    }   
}
