@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/typography" as *;

.hero {
    background-image: url(/assets/images/hero-shows.jpg);
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        height: 75vw;
    }

    @include desktop {
        height: 63vw;
        margin-bottom: 4rem;
        flex-direction: row;
        align-items: center;
        background-position: top;
        margin-bottom: 0;
    }

    &__background {
        height: 90vw;
        z-index: 1;
        opacity: 50%;

        @include tablet {
            height: 75vw;
        }

        @include desktop {
            height: 63vw;
        }
    }

    &__text {
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include desktop {
            padding-left: 0;
            padding-top: 8rem;
            padding-right: 4rem;
        }
    }

    &__text-small {
        z-index: 5;
        padding-top: 2rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-top: 6rem;
        }
    }

    &__text-large {
        z-index: 5;
        width: 70vw;

        @include tablet {
            height: 25vw;
            width: 75vw;
        }

        @include desktop {
            width: 38vw;
        }
    }

    &__soundcloud {
        z-index: 2;
        width: 95vw;
        height: 45vw;
        padding-left: 1rem;
        padding-bottom: 2rem;

        @include tablet {
            margin: 2rem 0rem 6rem 1rem;
            height: 30vw;
            width: 60vw;
        }

        @include desktop {
            width: 35vw;
            height: 11vw;
            margin-top: 7rem;
            padding-bottom: 0;
        }
    }
}

.shows {

    @include tablet {
        margin-bottom: 1rem;
        padding: 1rem;
    }

    @include desktop {
        display: flex;
        justify-content: space-between;
    }

    &-heading {
        padding: 2rem 0rem 0rem 1rem;

        @include tablet {
            padding: 2rem 0 2rem 1rem ;
        }

        @include desktop {
            padding-left: 7rem;
        }
    }

    &-container {

        @include desktop {
            padding-top: 3.5rem;
            width: 75%;
        }
        
        &__sections {
            display: none;

            @include tablet {
                width: 78vw;
                display: flex;
                padding-left: 1rem;
            }

            @include desktop {
                width: 74vw;
            }
        }

        &__section-item {
            width: 27%;

            &--first {
                
                @include desktop {
                    padding-right: 13.5rem;
                }
            }

            @include desktop {
                width: 23.4%;
            }
        }

        &__card:hover {
            background-color: $color-alabaster;
        }

        &__card {
            border-bottom: solid $color-mercury 2px;

            @include tablet {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-width: 90%;
            }

            @include desktop {
                width: 90%;
            }

            &-section {
                padding: 1rem 0 0 1rem;

                @include tablet {
                    display: none;
                }
            }

            &-date {
                padding: 0.5rem 0 0 1rem;

                @include tablet {
                    width: 30%;
                    padding: 0.5rem 0 0 1rem;
                }

                @include desktop {
                    width: 25%;
                }
            }

            &-text {
                padding: 0.5rem 0 0 1rem;

                @include tablet {
                    width: 29%;
                }

                @include desktop {
                    width: 25%;
                }
            }

            &-button {
                margin: 1rem 0 1rem 1rem;
                width: 90vw;
                height: 13vw;
                background-color: $color-black;
                border: none;
                border-radius: .25rem;

                @include tablet {
                    width: 20vw;
                    height: 5vw;
                    margin-right: 1rem;
                }

                @include desktop {
                    width: 12vw;
                    height: 3vw;
                }
            }
        }
    }
}
