@font-face {
  font-family: "Avenir Next";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
}
.navbar-list__item {
  font-size: 0.8125rem;
}
@media (min-width: 48rem) {
  .navbar-list__item {
    font-size: 0.875rem;
  }
}
.navbar-list__item--active {
  font-weight: 500;
}

.hero__text {
  font-weight: 600;
}
.hero__text-small {
  color: white;
  font-size: 0.875rem;
}
@media (min-width: 48rem) {
  .hero__text-small {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
@media (min-width: 48rem) {
  .hero__text {
    font-size: 3.75rem;
  }
}

.about {
  color: #323232;
}
.about__heading {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.about__bandname {
  font-size: 0.875rem;
  font-weight: 500;
}
@media (min-width: 48rem) {
  .about__bandname {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.quote-section__quote {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .quote-section__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.quote-section__credit {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media (min-width: 48rem) {
  .quote-section__credit {
    font-size: 1rem;
    font-weight: 700;
  }
}

.bio__desc {
  font-size: 13px;
  padding-bottom: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  .bio__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.375rem;
  }
}

.gallery__heading {
  color: #323232;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

.footer {
  color: #FAFAFA;
}
.footer__heading {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
}

.info__box-company {
  font-size: 0.8125rem;
  font-weight: 550;
}
.info__box-content {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-size: 0.8125rem;
}

.comment-input__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
}

.input-wrapper__label {
  color: #AFAFAF;
  font-size: 0.6875rem;
  font-weight: 550;
}
.input-wrapper__name {
  color: #323232;
}
.input-wrapper ::-moz-placeholder {
  color: #000000;
}
.input-wrapper ::placeholder {
  color: #000000;
}
.input-wrapper__submit {
  color: #FAFAFA;
  font-size: 0.875rem;
  font-weight: 600;
}

.comment-card__info-name {
  color: #323232;
  font-size: 0.75rem;
  font-weight: 600;
}
.comment-card__info-date {
  color: #AFAFAF;
  font-size: 0.75rem;
}
.comment-card__info-text {
  font-size: 0.75rem;
  font-weight: 400;
}

.shows-heading {
  font-weight: 600;
}
@media (min-width: 48rem) {
  .shows-heading {
    font-size: 2.5rem;
  }
}
.shows-container__section-item {
  color: #AFAFAF;
  font-size: 0.875rem;
  font-weight: 600;
}
.shows-container__card {
  border-bottom: solid 0.125rem #AFAFAF;
}
.shows-container__card-section {
  font-size: 0.6875rem;
  font-weight: 525;
  color: #AFAFAF;
}
.shows-container__card-date {
  font-size: 0.875rem;
  font-weight: 600;
}
.shows-container__card-text {
  font-size: 0.875rem;
}
.shows-container__card-button {
  color: white;
  font-size: 1rem;
  font-weight: 550;
}

.hero {
  background-image: url(/assets/images/hero-shows.jpg);
  height: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 48rem) {
  .hero {
    height: 77vw;
  }
}
.hero__background {
  height: 90vw;
}
@media (min-width: 48rem) {
  .hero__background {
    height: 77vw;
  }
}
.hero__text-small {
  z-index: 4;
  padding-top: 10vw;
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .hero__text-small {
    padding-left: 2rem;
  }
}
.hero__text {
  height: 80vw;
  width: 70vw;
}
@media (min-width: 48rem) {
  .hero__text {
    height: 25vw;
    width: 75vw;
  }
}
.hero__soundcloud {
  z-index: 2;
  width: 95vw;
  height: 45vw;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 48rem) {
  .hero__soundcloud {
    padding-top: 2rem;
    padding-left: 2rem;
    height: 25vw;
    width: 60vw;
  }
}

@media (min-width: 48rem) {
  .shows {
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
.shows-heading {
  padding: 1rem 0 1rem 1rem;
}
@media (min-width: 48rem) {
  .shows-heading {
    padding: 2rem 0 2rem 1rem;
  }
}
.shows-container__sections {
  display: none;
}
@media (min-width: 48rem) {
  .shows-container__sections {
    width: 95vw;
    display: flex;
    padding-left: 1rem;
  }
}
.shows-container__section-item {
  width: 27%;
}
.shows-container__card {
  border-bottom: solid #E1E1E1 2px;
}
@media (min-width: 48rem) {
  .shows-container__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 90%;
  }
}
.shows-container__card-section {
  padding: 1rem 0 0 1rem;
}
@media (min-width: 48rem) {
  .shows-container__card-section {
    display: none;
  }
}
.shows-container__card-date {
  padding: 0.5rem 0 0 1rem;
}
@media (min-width: 48rem) {
  .shows-container__card-date {
    width: 30%;
    padding: 0.5rem 0 0 1rem;
  }
}
.shows-container__card-text {
  padding: 0.5rem 0 0 1rem;
}
@media (min-width: 48rem) {
  .shows-container__card-text {
    width: 29%;
  }
}
.shows-container__card-button {
  margin: 1rem 0 1rem 1rem;
  width: 90vw;
  height: 13vw;
  background-color: #323232;
  border: none;
  border-radius: 0.25rem;
}
@media (min-width: 48rem) {
  .shows-container__card-button {
    width: 20vw;
    height: 5vw;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=shows.css.map */