@use "partials/variables" as *;
@use "partials/mixins" as *;

.hero {
    background-image: url(/assets/images/hero-shows.jpg);
    height: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__background {
        height: 80vw;
    }

    &__text {
        height: 80vw;
    }

    &__soundcloud {
        z-index: 2;
        width: 90%;
    }
}

.shows {

    &-container {
        
        &__sections {
            display: flex;
            justify-content: space-around;
        }
    }
}
